<!DOCTYPE html>
<html>
    <head>
        <title>Logo Configurator</title>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css" type="text/css">
    </head>
    
    <body>
        <div class="pure-g">
            <div class="pure-u-1">
                <h2>QMK Logo Configurator</h2>
            </div>
        </div>
        
        <div class="pure-g">
            <div class="pure-u-4-5">
                <canvas id="mainCanvas" width="408" height="102"></canvas>
            </div>
            <div class="pure-u-1-5">
                <div id="editorTools">
                    <button>ADF</button>
                    <button>QWE</button>
                    <button>asll</button>
                    <button>;a;dsf</button>
                </div>
            </div>
        </div>
        
        <form action='actionUrl' method='GET'>
                <button type='submit'>Logo and Indicator</button>
                <button type='submit'>Logo Only</button>
                <button type='submit'>All Fonts</button>
        </form>
        <br/>

        <div id="editorField">

            <div>
                <textarea id="result" rows="5" cols="20"></textarea>
            </div>
        </div>
        <br/>


        <button type='submit' onclick="undo()">Undo</button>
        <button type='submit' onclick="redo()">Redo</button>
        <button type='submit' onclick="clearCanvas()">Clear</button>
        <button type='submit' onclick="invert()">Invert</button>
        <br/>

        Insert Text (10 Characters Max):
        <br/>

        <input type="text" name="Text" id="form" value="OWLET60">
        <button type="submit" onclick="addText()">Add Text</button>
        <br/>
        
        <div id="fontPreview">        
            <h3>Font Preview</h3>
            <div>
                <canvas id="displayCanvas" widht="680" height="120"></canvas>
            </div>
            <div>
                <button>New Font</button>
                <button>Default Font</button>
                <button>Upload Font</button>
                <button>Download Font</button>
            </div>
        </div>

        <button type='submit' onclick="printHex()">Generate Font File</button>

        <script>
            var e = document.getElementById('mainCanvas'),
            elemLeft = e.offsetLeft,
            elemTop = e.offsetTop,
            context = e.getContext('2d'),
            elements = [],
            undoStack = [],
            redoStack = [],
            defaultQMKFont = [0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x3E, 0x5B, 0x4F, 0x5B, 0x3E, 0x00, 0x3E, 0x6B, 0x4F, 0x6B, 0x3E, 0x00, 0x1C, 0x3E, 0x7C, 0x3E, 0x1C, 0x00, 0x18, 0x3C, 0x7E, 0x3C, 0x18, 0x00, 0x1C, 0x57, 0x7D, 0x57, 0x1C, 0x00, 0x1C, 0x5E, 0x7F, 0x5E, 0x1C, 0x00, 0x00, 0x18, 0x3C, 0x18, 0x00, 0x00, 0xFF, 0xE7, 0xC3, 0xE7, 0xFF, 0x00, 0x00, 0x18, 0x24, 0x18, 0x00, 0x00, 0xFF, 0xE7, 0xDB, 0xE7, 0xFF, 0x00, 0x30, 0x48, 0x3A, 0x06, 0x0E, 0x00, 0x26, 0x29, 0x79, 0x29, 0x26, 0x00, 0x40, 0x7F, 0x05, 0x05, 0x07, 0x00, 0x40, 0x7F, 0x05, 0x25, 0x3F, 0x00, 0x5A, 0x3C, 0xE7, 0x3C, 0x5A, 0x00, 0x7F, 0x3E, 0x1C, 0x1C, 0x08, 0x00, 0x08, 0x1C, 0x1C, 0x3E, 0x7F, 0x00, 0x14, 0x22, 0x7F, 0x22, 0x14, 0x00, 0x5F, 0x5F, 0x00, 0x5F, 0x5F, 0x00, 0x06, 0x09, 0x7F, 0x01, 0x7F, 0x00, 0x00, 0x66, 0x89, 0x95, 0x6A, 0x00, 0x60, 0x60, 0x60, 0x60, 0x60, 0x00, 0x94, 0xA2, 0xFF, 0xA2, 0x94, 0x00, 0x08, 0x04, 0x7E, 0x04, 0x08, 0x00,
                                0x10, 0x20, 0x7E, 0x20, 0x10, 0x00, 0x08, 0x08, 0x2A, 0x1C, 0x08, 0x00, 0x08, 0x1C, 0x2A, 0x08, 0x08, 0x00, 0x1E, 0x10, 0x10, 0x10, 0x10, 0x00, 0x0C, 0x1E, 0x0C, 0x1E, 0x0C, 0x00, 0x30, 0x38, 0x3E, 0x38, 0x30, 0x00, 0x06, 0x0E, 0x3E, 0x0E, 0x06, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x5F, 0x00, 0x00, 0x00, 0x00, 0x07, 0x00, 0x07, 0x00, 0x00, 0x14, 0x7F, 0x14, 0x7F, 0x14, 0x00, 0x24, 0x2A, 0x7F, 0x2A, 0x12, 0x00, 0x23, 0x13, 0x08, 0x64, 0x62, 0x00, 0x36, 0x49, 0x56, 0x20, 0x50, 0x00, 0x00, 0x08, 0x07, 0x03, 0x00, 0x00, 0x00, 0x1C, 0x22, 0x41, 0x00, 0x00, 0x00, 0x41, 0x22, 0x1C, 0x00, 0x00, 0x2A, 0x1C, 0x7F, 0x1C, 0x2A, 0x00, 0x08, 0x08, 0x3E, 0x08, 0x08, 0x00, 0x00, 0x80, 0x70, 0x30, 0x00, 0x00, 0x08, 0x08, 0x08, 0x08, 0x08, 0x00, 0x00, 0x00, 0x60, 0x60, 0x00, 0x00, 0x20, 0x10, 0x08, 0x04, 0x02, 0x00, 0x3E, 0x51, 0x49, 0x45, 0x3E, 0x00, 0x00, 0x42, 0x7F, 0x40, 0x00, 0x00,
                                0x72, 0x49, 0x49, 0x49, 0x46, 0x00, 0x21, 0x41, 0x49, 0x4D, 0x33, 0x00, 0x18, 0x14, 0x12, 0x7F, 0x10, 0x00, 0x27, 0x45, 0x45, 0x45, 0x39, 0x00, 0x3C, 0x4A, 0x49, 0x49, 0x31, 0x00, 0x41, 0x21, 0x11, 0x09, 0x07, 0x00, 0x36, 0x49, 0x49, 0x49, 0x36, 0x00, 0x46, 0x49, 0x49, 0x29, 0x1E, 0x00, 0x00, 0x00, 0x14, 0x00, 0x00, 0x00, 0x00, 0x40, 0x34, 0x00, 0x00, 0x00, 0x00, 0x08, 0x14, 0x22, 0x41, 0x00, 0x14, 0x14, 0x14, 0x14, 0x14, 0x00, 0x00, 0x41, 0x22, 0x14, 0x08, 0x00, 0x02, 0x01, 0x59, 0x09, 0x06, 0x00, 0x3E, 0x41, 0x5D, 0x59, 0x4E, 0x00, 0x7C, 0x12, 0x11, 0x12, 0x7C, 0x00, 0x7F, 0x49, 0x49, 0x49, 0x36, 0x00, 0x3E, 0x41, 0x41, 0x41, 0x22, 0x00, 0x7F, 0x41, 0x41, 0x41, 0x3E, 0x00, 0x7F, 0x49, 0x49, 0x49, 0x41, 0x00, 0x7F, 0x09, 0x09, 0x09, 0x01, 0x00, 0x3E, 0x41, 0x41, 0x51, 0x73, 0x00, 0x7F, 0x08, 0x08, 0x08, 0x7F, 0x00, 0x00, 0x41, 0x7F, 0x41, 0x00, 0x00, 0x20, 0x40, 0x41, 0x3F, 0x01, 0x00,
                                0x7F, 0x08, 0x14, 0x22, 0x41, 0x00, 0x7F, 0x40, 0x40, 0x40, 0x40, 0x00, 0x7F, 0x02, 0x1C, 0x02, 0x7F, 0x00, 0x7F, 0x04, 0x08, 0x10, 0x7F, 0x00, 0x3E, 0x41, 0x41, 0x41, 0x3E, 0x00, 0x7F, 0x09, 0x09, 0x09, 0x06, 0x00, 0x3E, 0x41, 0x51, 0x21, 0x5E, 0x00, 0x7F, 0x09, 0x19, 0x29, 0x46, 0x00, 0x26, 0x49, 0x49, 0x49, 0x32, 0x00, 0x03, 0x01, 0x7F, 0x01, 0x03, 0x00, 0x3F, 0x40, 0x40, 0x40, 0x3F, 0x00, 0x1F, 0x20, 0x40, 0x20, 0x1F, 0x00, 0x3F, 0x40, 0x38, 0x40, 0x3F, 0x00, 0x63, 0x14, 0x08, 0x14, 0x63, 0x00, 0x03, 0x04, 0x78, 0x04, 0x03, 0x00, 0x61, 0x59, 0x49, 0x4D, 0x43, 0x00, 0x00, 0x7F, 0x41, 0x41, 0x41, 0x00, 0x02, 0x04, 0x08, 0x10, 0x20, 0x00, 0x00, 0x41, 0x41, 0x41, 0x7F, 0x00, 0x04, 0x02, 0x01, 0x02, 0x04, 0x00, 0x40, 0x40, 0x40, 0x40, 0x40, 0x00, 0x00, 0x03, 0x07, 0x08, 0x00, 0x00, 0x20, 0x54, 0x54, 0x78, 0x40, 0x00, 0x7F, 0x28, 0x44, 0x44, 0x38, 0x00, 0x38, 0x44, 0x44, 0x44, 0x28, 0x00,
                                0x38, 0x44, 0x44, 0x28, 0x7F, 0x00, 0x38, 0x54, 0x54, 0x54, 0x18, 0x00, 0x00, 0x08, 0x7E, 0x09, 0x02, 0x00, 0x18, 0xA4, 0xA4, 0x9C, 0x78, 0x00, 0x7F, 0x08, 0x04, 0x04, 0x78, 0x00, 0x00, 0x44, 0x7D, 0x40, 0x00, 0x00, 0x20, 0x40, 0x40, 0x3D, 0x00, 0x00, 0x7F, 0x10, 0x28, 0x44, 0x00, 0x00, 0x00, 0x41, 0x7F, 0x40, 0x00, 0x00, 0x7C, 0x04, 0x78, 0x04, 0x78, 0x00, 0x7C, 0x08, 0x04, 0x04, 0x78, 0x00, 0x38, 0x44, 0x44, 0x44, 0x38, 0x00, 0xFC, 0x18, 0x24, 0x24, 0x18, 0x00, 0x18, 0x24, 0x24, 0x18, 0xFC, 0x00, 0x7C, 0x08, 0x04, 0x04, 0x08, 0x00, 0x48, 0x54, 0x54, 0x54, 0x24, 0x00, 0x04, 0x04, 0x3F, 0x44, 0x24, 0x00, 0x3C, 0x40, 0x40, 0x20, 0x7C, 0x00, 0x1C, 0x20, 0x40, 0x20, 0x1C, 0x00, 0x3C, 0x40, 0x30, 0x40, 0x3C, 0x00, 0x44, 0x28, 0x10, 0x28, 0x44, 0x00, 0x4C, 0x90, 0x90, 0x90, 0x7C, 0x00, 0x44, 0x64, 0x54, 0x4C, 0x44, 0x00, 0x00, 0x08, 0x36, 0x41, 0x00, 0x00, 0x00, 0x00, 0x77, 0x00, 0x00, 0x00,
                                0x00, 0x41, 0x36, 0x08, 0x00, 0x00, 0x02, 0x01, 0x02, 0x04, 0x02, 0x00, 0x3C, 0x26, 0x23, 0x26, 0x3C, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x40, 0x40, 0x40, 0xF0, 0xF8, 0xF8, 0xFF, 0x38, 0xFF, 0xF8, 0xF8, 0x3F, 0xF8, 0xF8, 0xFF, 0x38, 0xFF, 0xF8, 0xF8, 0xF0, 0x40, 0x40, 0x40, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x80, 0xC0, 0xC0, 0xC0, 0x80, 0x00, 0x00, 0xC0, 0xC0, 0x80, 0x00, 0x00, 0x00, 0x80, 0xC0, 0xC0, 0x00, 0xC0, 0xC0, 0x00, 0x00, 0x80, 0xC0, 0xC0, 0x00, 0x00, 0x00, 0x00, 0x00, 0xC0, 0xC0, 0xC0, 0xC0, 0xC0, 0x00, 0xC0, 0xC0, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0xC0, 0xF0, 0xF8, 0xFC, 0x3E,
                                0x1E, 0x06, 0x01, 0x00, 0x00, 0x00, 0x7F, 0x41, 0x41, 0x41, 0x7F, 0x00, 0x7F, 0x41, 0x41, 0x41, 0x7F, 0x00, 0x00, 0x80, 0xC0, 0xE0, 0x7E, 0x5B, 0x4F, 0x5B, 0xFE, 0xC0, 0x00, 0x00, 0xC0, 0x00, 0xDC, 0xD7, 0xDE, 0xDE, 0xDE, 0xD7, 0xDC, 0x00, 0xC0, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x49, 0x49, 0x49, 0xFF, 0xFF, 0xFF, 0xFF, 0xE0, 0xDF, 0xBF, 0xBF, 0x00, 0xBF, 0xBF, 0xDF, 0xE0, 0xFF, 0xFF, 0xFF, 0xFF, 0x49, 0x49, 0x49, 0x00, 0x00, 0x00, 0x00, 0x00, 0x1F, 0x3F, 0x60, 0x60, 0xE0, 0xBF, 0x1F, 0x00, 0x7F, 0x7F, 0x07, 0x1E, 0x38, 0x1E, 0x07, 0x7F, 0x7F, 0x00, 0x7F, 0x7F, 0x0E, 0x1F, 0x3B, 0x71, 0x60, 0x00, 0x00, 0x00, 0x00, 0x00, 0x7F, 0x7F, 0x0C, 0x0C, 0x0C, 0x00, 0x7E, 0x7E, 0x00, 0x7F, 0x7E, 0x03, 0x03, 0x00, 0x7F, 0x7E, 0x03, 0x03, 0x7E, 0x7E, 0x03, 0x03, 0x7F, 0x7E, 0x00, 0x0F,
                                0x3E, 0x70, 0x3C, 0x06, 0x3C, 0x70, 0x3E, 0x0F, 0x00, 0x32, 0x7B, 0x49, 0x49, 0x3F, 0x7E, 0x00, 0x7F, 0x7E, 0x03, 0x03, 0x00, 0x1E, 0x3F, 0x69, 0x69, 0x6F, 0x26, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x03, 0x0F, 0x1F, 0x3F, 0x3C, 0x78, 0x70, 0x60, 0x00, 0x00, 0x00, 0x7F, 0x41, 0x41, 0x41, 0x7F, 0x00, 0x7F, 0x41, 0x41, 0x41, 0x7F, 0x00, 0x30, 0x7B, 0x7F, 0x78, 0x30, 0x20, 0x20, 0x30, 0x78, 0x7F, 0x3B, 0x00, 0x03, 0x00, 0x0F, 0x7F, 0x0F, 0x0F, 0x0F, 0x7F, 0x0F, 0x00, 0x03, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x01, 0x01, 0x01, 0x07, 0x0F, 0x0F, 0x7F, 0x0F, 0x7F, 0x0F, 0x0F, 0x7E, 0x0F, 0x0F, 0x7F, 0x0F, 0x7F, 0x0F, 0x0F, 0x07, 0x01, 0x01, 0x01, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x01, 0x01, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00,
                                0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00,
                              ];

            context.fillStyle = '#ffffff';
            context.fillRect(0, 0, 32, 102);
            undoStack[0] = context.getImageData(0, 0, 32, 102);


            // event listener for click event
            e.addEventListener('click', function(event) {
            var xVal = event.pageX - elemLeft,
            yVal = event.pageY - elemTop;
            elements.forEach(function(ele) {
                if (yVal > ele.top && yVal < ele.height*4 && xVal > ele.left && xVal < ele.width*4) {
                    context.fillRect(Math.floor(xVal/4)+ 0.5, Math.floor(yVal/4)+ 0.5, 1, 1);
                };
            });
            }, false);

            var draw;

            /*e.addEventListener('mousedown', function(event) {
                e.addEventListener('mousemove', function(event) {
                    var xVal = event.pageX - elemLeft,
                    yVal = event.pageY - elemTop;
                    console.log(xVal, yVal);
                    elements.forEach(function(ele) {
                        if (yVal > ele.top && yVal < ele.height*4 && xVal > ele.left && xVal < ele.width*4) {
                            context.fillRect(Math.floor(xVal/4), Math.floor(yVal/4), 1, 1);
                            console.log(xVal/4, yVal/4);
                        };
                    });
                }, false);
            }, false);*/

            //mobile support

            e.addEventListener('pointerdown', function(event) {
                draw = new Boolean(true);
            }, false);

            e.addEventListener('pointerup', function(event) {
                draw = new Boolean(false);
                redoStack = [];
                redoStack[0] = context.getImageData(0, 0, 32, 102);
                save();
            }, false);

            e.addEventListener('pointermove', function(event) {
                    if(draw == true) {
                        var xVal = event.pageX - elemLeft,
                    yVal = event.pageY - elemTop;
                    context.fillStyle = "#000000";
                    elements.forEach(function(ele) {
                        if (yVal > ele.top && yVal < ele.height*4 && xVal > ele.left && xVal < ele.width*4) {
                            context.fillRect(Math.floor(xVal/4), Math.floor(yVal/4), 1, 1);
                        };
                    });
                }
            }, false);

            e.addEventListener('pointerup', function(event) {
            var xVal = event.pageX - elemLeft,
            yVal = event.pageY - elemTop;
            elements.forEach(function(ele) {
                if (yVal > ele.top && yVal < ele.height*4 && xVal > ele.left && xVal < ele.width*4) {
                    context.fillRect(Math.floor(xVal/4), Math.floor(yVal/4), 1, 1);
                };
            });
            }, false);

            // working code
            /*e.addEventListener('mousedown', function(event) {
                draw = new Boolean(true);
            }, false);

            e.addEventListener('mouseup', function(event) {
                draw = new Boolean(false);
                redoStack = [];
                redoStack[0] = context.getImageData(0, 0, 32, 102);
                save();
            }, false);

            e.addEventListener('mousemove', function(event) {
                    if(draw == true) {
                        var xVal = event.pageX - elemLeft,
                    yVal = event.pageY - elemTop;
                    context.fillStyle = "#000000";
                    elements.forEach(function(ele) {
                        if (yVal > ele.top && yVal < ele.height*4 && xVal > ele.left && xVal < ele.width*4) {
                            context.fillRect(Math.floor(xVal/4), Math.floor(yVal/4), 1, 1);
                        };
                    });
                    }
                }, false);

            e.addEventListener('mouseup', function(event) {
            var xVal = event.pageX - elemLeft,
            yVal = event.pageY - elemTop;
            elements.forEach(function(ele) {
                if (yVal > ele.top && yVal < ele.height*4 && xVal > ele.left && xVal < ele.width*4) {
                    context.fillRect(Math.floor(xVal/4), Math.floor(yVal/4), 1, 1);
                };
            });
            }, false);
            */

            elements.push({
            colour: '#000000',
            width: 128,
            height: 448,
            top: 0,
            left: 0
            });
            elements.forEach(function(ele) {
            context.fillStyle = element.colour;
            context.fillRect(ele.left, ele.top, ele.width, ele.height);
            });

            // Clear Canvas Function
            function clearCanvas() {
                console.log("clear");
                context.fillStyle = '#ffffff';
                context.fillRect(0, 0, 32, 102);
            }

            // Undo Function
            function undo() {
                var tempImg = undoStack[undoStack.length - 1];
                try {
                    context.putImageData(tempImg, 0, 0);
                }
                catch {
                    return;
                }
                if(!(undoStack.length === 1)) {
                    redoStack.push(undoStack.pop());
                }
            }

            function redo() {
                var tempImg = redoStack[redoStack.length - 1];
                try {
                    context.putImageData(tempImg, 0, 0);
                }
                catch {
                    return;
                }
                undoStack.push(redoStack.pop());
            }

            // Save State After Each MouseUp
            function save() {
                console.log("save");
                undoStack.push(context.getImageData(0, 0, 32, 102));
            }

            function invert() {
                var img = context.getImageData(0,0,32, 102);
                var pix = img.data;

                undoStack.push(img);
                redoStack = [];

                for(var i = 0; i < pix.length; i +=4) {
                    if(pix[i] > 0) {
                        console.log("inv1");
                        pix[i  ] = 0;
                        pix[i+1] = 0;
                        pix[i+2] = 0;
                    }
                    else {
                        console.log("inv2");
                        pix[i  ] = 255;
                        pix[i+1] = 255;
                        pix[i+2] = 255;
                    }
                }
                context.putImageData(img, 0, 0);
            }

            function addText() {
                context.fillStyle = "#000000";
                var text = document.getElementById("form").value;
                context.font = "bold 14px Arial";
                context.textAlign = "center";
                for(var i = 0; i < text.length; i++) {
                    context.fillText(text.charAt(i), 11, 15 * i + 11);
                }
                draw = new Boolean(false);
            }

            // RAW Binary (1010101010001010001001011111....)
            function parseImg() {
                var binaryState = [];
                var img = context.getImageData(0,0,32,102);
                var pix = img.data;
                for(var i = 0; i < pix.length; i+=4) {
                    if(pix[i] > 0) {
                        binaryState.push(0);
                    }
                    else {
                        binaryState.push(1);
                    }
                }
                return binaryState;
            }

            // Formatted Binary (10101010, 01110000, 0000000, ...)
            function binary2array2D(arr) {
                var mainArray = [];
                var counter = 0;
                for(var i = 0; i < 102; i++) {
                    var tempArray = [];
                    for(var j = 0; j < 24; j++) {
                        tempArray.push(arr[counter]);
                        counter++;
                    }
                    mainArray.push(tempArray);
                }
                return mainArray;
            }

            // array of string ( "1", '3', '51', '23', '12', '11', '32', ...)
            function parseArray(arr) {
                var A = "";
                var B = "";
                var C = "";
                var tempA = "";
                var tempB = "";
                var tempC = "";
                for(var i = 0; i < 102; i++) {
                    tempA = "";
                    tempB = "";
                    tempC = "";
                    for(var j = 0; j < 8; j++) {
                        tempA += (arr[i][23-j].toString());
                        tempB +=(arr[i][15-j].toString());
                        tempC += (arr[i][7-j].toString());
                    }
                    A = A + (parseInt(tempA, 2).toString()) + ",";
                    B = B + (parseInt(tempB, 2).toString()) + ",";
                    C = C + (parseInt(tempC, 2).toString()) + ",";

                }
                A = A + B + C;
                return A.split(",");
            }

            function finalMerge(oledHexString) {
                var tempFont = defaultQMKFont;
                for(var i = 0; i < 102; i++) {
                    tempFont[767 + i] = parseInt(oledHexString[i]);
                    tempFont[959 + i] = parseInt(oledHexString[102 + i]);
                    tempFont[1152 + i] = parseInt(oledHexString[204 + i]);
                }
                for(var j = 0; j < 12; j++) {
                    tempFont[869 + j] = 0;
                    tempFont[1061 + j] = 0;
                    tempFont[1254 + j] = 0;
                }
                return tempFont;
            }

            function printHex() {
                var counter = 0;
                var finalTxt = finalMerge(parseArray(binary2array2D(parseImg())));
                var outputStr = "";
                var temp = 0;
                for(var i = 0; i < defaultQMKFont.length; i++) {
                    counter++;
                    temp = finalTxt[i].toString(16);

                    if(temp.length === 1) {
                        temp = "0" + temp;
                    }
                    //console.log(temp);
                    outputStr += ("0x" + temp + ",");

                    if(counter === 400) {
                        outputStr += ("\n");
                        counter = 0;
                    }
                }
                console.log(outputStr);
                var txtAr = document.getElementById("result");
                txtAr.value = outputStr;
            }
        </script>
    </body>

</html>