<!DOCTYPE html>
<html>
    <head>
        <title>Logo Configurator</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.rawgit.com/Viglino/iconicss/master/dist/iconicss.min.css">
        <link rel="stylesheet" href="style.css" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="script.js"></script>
    </head> 
    
    <body>
        <nav class="navbar">
            <div class="navbar-brand">
                <p class="title has-text-light">QMK OLED Configurator</p>
            </div>
        </nav>
        <section class="section has-text-light">
            <div class="columns is-vcentered has-text-centered" id="editor">
                <div class="column is-10">
                    <div class="columns">
                        <div class="column is-12">
                            <canvas id="mainCanvas" width="800" height="200"></canvas>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-12">
                            <button class="button is-small is-dark">Previous Character</button>
                            <button class="button is-small is-dark">Next Character</button>
                        </div>
                    </div>
                </div>
                <div class="column is-2" id="toolbox">
                    <div id="editorTools">
                        <div class="columns" id="toolboxHeader">
                            <div class="column is-12">
                                <p>Toolbox</p>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column">
                                <i class="icss-pencil"></i> 
                            </div>
                            <div class="column">
                                <i class="icss-circle"></i>
                            </div>
                            <div class="column">
                                <i class="icss-circle-o"></i>
                            </div>
                            <div class="column">
                                <i class="icss-paint-bucket"></i>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column">
                                <i class="icss-exchange"></i>
                            </div>
                            <div class="column">
                                <i class="icss-scissors"></i>
                            </div>
                            <div class="column">
                                <i class="icss-x"></i>
                            </div>
                            <div class="column">
                                <i class="icss-trash"></i>
                            </div>

                        </div>
                        <div class="columns">
                            <div class="column is-one-half">
                                <i class="icss-arrow-left"></i>
                            </div>
                            <div class="column is-one-half">
                                <i class="icss-arrow-right"></i>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-8">
                                <input type="range" min="1" max="8" value="1" class="slider" id="poli">
                            </div>
                            <div class="column is-5">
                                <input type="text" size="1" maxlength="1" id="brushSize">
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-12">
                                <button class="button is-small is-dark">Add Image/Text</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="section has-text-white">
            <div class="columns">
                <div class="column">
                    <h4>Insert Text :</h4>
                </div>
                <div class="column">
                    <h4>Insert Image:</h4>
                </div>
            </div>

            <div class="columns" id="toolbox">
                <div class="column is-3">
                    <input type="text" name="Text" id="form" value="OWLET60">
                    <button type="submit" onclick="addText()">Add Text</button>
                </div>
                <div class="column is-3">
                    <canvas id="textPreview" width="100" height="100"></canvas>
                </div> 
                <div class="column is-2">
                    <div class="columns">
                        <div class="column">
                            <button>Select Image</button>
                        </div>
                        <div class="column">
                            <button>Delete Image</button>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <input type="text" size="3">
                        </div>
                        <div class="column">
                            <input type="text" size="3">
                        </div>
                    </div>
                    <div class="columns">
                        <input type="range" min="1" max="8" value="1" class="slider">
                    </div>
                    <div class="columns">
                        <input type="range" min="1" max="8" value="1" class="slider">
                    </div>
                    <div class="columns">
                        <input type="range" min="1" max="8" value="1" class="slider">
                    </div>
                    <div class="columns">
                        <input type="range" min="1" max="8" value="1" class="slider">
                    </div>
                </div>
                <div class="column is-5">
                    <canvas id="imagePreview" width="100" height="100"></canvas>
                </div>
            </div>
        </section>
        
        <section class="section has-text-white">
            <div class="columns">
                <div class="column is-10">
                    <div class="columns" id="fontPreview">
                <div class="column">
                    <div class="columns">
                        <div class="column">
                            <p>Font Preview</p>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-vcentered has-text-centered">
                            <canvas id="displayCanvas" widht="800" height="100"></canvas>
                        </div>

                    </div>
                    <div class="columns">
                        <button id="but">New Font</button>
                        <button>Default Font</button>
                        <button>Upload Font</button>
                        <button>Download Font</button>
                    </div>
                </div>
            </div>
                </div>
                <div class="column is-2" id="toolbox">
                    <div class="columns">
                        <div class="column is-12 is-vcentered has-text-centered" id="toolboxHeader">
                            <p>Font Settings</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>

</html>