#mainCanvas {
    width: 95%;
    height: 95%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    display: block;
    margin: auto;
}

#editorTools {
    display: block;
    margin: auto;
}

#displayCanvas {
    border: 1px;
    border-style: solid;
    border-color: black;
}